@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#logo {
    height: 19px;
    width: 61.9px;
}

.ulHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.ulHeader li {
    padding: 20px;
    border-top: solid #FFFFFF 3px;
}

.ulHeader li:hover {
    border-top: solid #0065FC 3px;
}

#borderHosting {
    width: 162px;
    border-top: solid #0065FC 2px;
    position: absolute;
    top: 0;
    right: 130px;
}

#aBorder {
    position:relative;
}

a {
    text-decoration: none;
    color: #000000;
}

.ulHeader a {
    text-decoration: none;
}

.ulHeader a:hover {
    color:#0065FC;
}

ul {
    list-style-type:none;
}

.allH2 {
    font-weight:bold;
}

#searchIcon {
    width: 50px;
    height: 49px;
    background-color:#F2F2F2;
    border:solid #F2F2F2 1px;
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
}

.icon1 {
    width: 14px;
    height: 18px;
}

#searchInput {
    height: 49px;
    font-weight:bold;
    border:solid #F2F2F2 1px;
    padding-left: 10px;
}

#searchButton {
    width: 132px;
    height: 49px;
    color:#FFFFFF;
    background-color:#0065FC;
    border:solid #0065FC 1px;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    font-weight:bold;
}

i.fa-solid.fa-magnifying-glass {
    padding: 10px;
    display: none;
}

.search {
    display:flex;
}

.h3 {
    font-weight:900;
    margin: 0;
}

.filters {
    display: flex;
    align-items: baseline;
    margin-top: 40px;
}

.filterButton {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filterButton ul {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap: 20px;
}

.filterButton button {
    height: 50px;
    border: solid #F0F2F6 3px;
    border-radius: 25px;
    background-color: white;
}

.filterButton button:hover {
    background-color: #DEEBFF;
}

.butt {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.butt i {
    padding: 10px;
}

.infoDiv {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
}

#info {
    width: 24px; 
    height: 24px;
    border:solid #D9D9D9 1px;
    border-radius: 50px;
    background-color:#FFFFFF;
}

.hosting1 {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding:20px;
    width:70%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.fa-star {
    color:#0065FC;
    padding:0.2px;
}

.hostingH2 {
    display:flex;
    justify-content: flex-start;
}

.cardsHosting {
    display:flex;
    flex-wrap: wrap;
    row-gap:40px;
    justify-content: space-between;
}

.more{
    margin:0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
    width: calc((100% - 80px) /3);
    border: solid #ffff 5px;
    box-sizing: border-box;
}

.img1 {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.container {
    text-align: left;
    padding: 10px;
    margin-top: 0;
}

.h4Cards {
    margin: 5px;
}

.container p {
    margin: 5px;
}

.popularH2 { 
    display: flex;
    justify-content: space-between;
}

.popularH2 h2 {
    padding: 0;
}

#iconPopular {
    display: inline-flex;
    align-items: center;
}


.img2 {
    object-fit: cover;
    width: 50%;
    height: 140px;
    padding-right: 15px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #FFFFFF;
    border:solid #FFFFFF 5px;
    overflow: hidden;
}

.card2 a {
    display:flex;
}

.hosting2 {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    display:flex;
    flex-direction: column;
    gap:20px;
    flex-wrap:nowrap;
}

.container2 {
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.container2 h4 {
    margin: 0px;
    padding-top: 0px;
}

.container2 p {
    margin: 0px;
    padding-top: 5px;
}

.container2 .fiveStars {
    display: flex;
    align-content: space-between;
}

.cardsPopular {
    display:flex;
    flex-direction:column;
    gap:40px;
}

.sections {
    display: flex;
    flex-direction: row;
    gap:40px;
    max-width: 1400px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.activities {
    width:100%;
    max-width:1400px;
    margin-bottom: 40px;
}

.cardsActivities {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #FFFFFF;
    width: calc(100% /4);
    overflow: hidden;
}

.img3 {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.container3 {
    text-align:left;
    padding: 10px;
}

.container3 h4 {
    margin:0;
}

.footer {
    background-color: #F2F2F2;
    
}

.boxFlex {
    display: flex;
    gap:20px;
}

.div {
    width: calc(100% /3);
    margin: 50px;
}

.h3 {
   text-align:left;
}

.ulFooter {
   text-align:left;
   padding-left: 0;
}

.ulFooter li {
    padding: 5px;
}

@media screen and (max-width:992px) {

    body {
        padding-right: 40px;
        padding-left: 40px;
        margin: auto;

    }
    
    .filterButton ul {
        padding-left: 10px;
    }

    .butt {
        display: flex;
        align-items: center;
    }

    .sections {
        flex-direction: column;
    }

    .hosting1 {
        width: 100%;
    }

    .hosting2 {
        width: 100%;
    }

    .cardsPopular {
        flex-direction: row;
        gap:0;
        justify-content: space-between;
    }

    .card2 {
        width: calc((100% - 30px) /3);
    }

    .stars {
        display: flex;
    }

    .img3 {
        height: 150px;
    }

    .footer {
        padding: 30px;
    }

    .div {
        width: calc((100% - 40px) /3);
        margin: 0;
    }
}


@media screen and (max-width:768px){

    body {
        padding:0;
    }

    .navHeader {
        width: 100%;
        margin-top: 25px;
    }

    .header {
        margin-top: 20px;
        flex-direction: column;
    }

    .ulHeader li {
        padding: 20px;
        border-bottom: solid #D9D9D9 3px;
        border-top: none;
        width: 50%;
        text-align: center;
    }

    .ulHeader li:hover {
        border-bottom: solid #0065FC 3px;
        border-top: none;
    }

    .section1 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .search {
        justify-content: center;
        margin-top: 40px;
    }

    #searchInput {
        flex: 1;
    }

    #searchButton {
        width: auto;
        height: auto;
    }

    i.fa-solid.fa-magnifying-glass {
        display: initial;
    }

    #searchButton span {
        display: none;
    }

    .filters {
        flex-wrap: wrap;
    }

    .filterButton {
        flex-direction: column;
    }
    
    .filterButton ul {
        gap: 0;
        padding-left: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 15px;
    }

    .filterButton li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc((100% - 10px) /2);
    }

    .filterButton button {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sections {
        flex-direction: column-reverse;
    }

    .hosting2, .hosting1{
        width:100%;
        border-radius: 0;
    }

    .hosting1 {
        background-color: #FFFFFF;
    }

    .cardsPopular {
        flex-direction: column;
        gap: 40px;
    }

    .more {
        display: none;
    }

    .card1 {
        width:100%;
    }

    .card2 {
        width:100%;
    }

    .activities {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 80px;
    }

    .cardsActivities {
        flex-direction: column;
    }

    .card3 {
        width: 100%;
    }

    .img3 {
        height: 150px;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .boxFlex {
        flex-direction: column;
        gap: 0;
    }

    .div {
        margin: 10px;
        width: 100%
    }

    .ulFooter {
        margin-bottom: 0;
    }


}


